# This config is equivalent to both the '.circleci/extended/orb-free.yml' and the base '.circleci/config.yml'
version: 2.1

orbs:
  node: circleci/node@4.7.0

jobs:
  cypress_tests:
      docker:
        - image: cypress/base:8
          environment:
            TERM: xterm
      steps:
        - checkout
        - run:
            command: pwd
        - run:
            command: ls -l
        - run:
            name: Run tests
            command: npm run cy:run --record --spec "cypress/integration/test_mercado_libre.js"
        - store_artifacts:
            path: cypress/videos
        - store_artifacts:
            path: cypress/screenshots

workflows:
  build-test:
    jobs:
      - cypress_tests